.headerPost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerPost time {
  font-size: 0.875rem;
  color: var(--gray-400);
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorInfo span {
  font-size: 0.875rem;
  color: var(--gray-400);
  line-height: 1.6;
}

.authorInfo strong {
  color: var(--gray-100);
  line-height: 1.6;
}

